.section-form {
    margin-top: 8rem;


    .form-button {
        background-color: #224daa;
    }

    .formulario-contacto {
        background: #e8edf0;

    }

}

@media(min-width: 1100px) {
    .section-form {
        margin-top: 8rem;
        margin-left: 10rem;
        margin-right: 10rem;

        .form-button {
            background-color: #224daa;
        }

        .formulario-contacto {
            background: #e8edf0;

        }

    }
}

.icon-form {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #2553b8;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 20px;

}