footer {
    background-color: rgb(238, 235, 235);
    .footer-logo {
        height: 7rem;
    }

    .metodos-pago {
        padding-bottom: 4rem;
    }

    .redes-sociales {
        padding-bottom: 3.5rem;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0.5rem;
        padding-left: 0;
        li{
         margin: 10px;
         font-size: 25px;
        
         span{
             color: black;
         }
        }
    }


    .mapa {
        height: 10rem;
        width: 15rem;
    }
}