/*selector{
propiedad:valor;
}*/

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courgette', cursive;
    box-sizing: border-box;
}

/* INDEX*/
body {
    background-color: white;
}

section {
    padding-top: 10rem;
}

nav {
    background-color: rgb(238, 235, 235);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;

}

.logo {
    height: 70px;
    margin-top: 10px;
    margin-left: 3rem;
    margin-bottom: 10px;
}

.list-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 2rem;
    list-style: none;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.main-contenedor {
    display: flex;
    flex-direction: row;
    background-image: url(../imagenes/AnyConv.com__ice-203053598-67508024_3XL-811259.webp);
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    height: 60rem;
}

.reservation {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.863);
    height: 250px;
    padding: 1rem;
    margin-left: 7rem;
    margin-top: 3rem;
}

.reservation img {
    height: 120px;
    border-bottom: solid 1px;
    padding-bottom: 1rem;
}

.reservation p {
    margin-top: 1rem;
}

.calendar {
    margin-top: 1rem;
    padding-top: 3px;
}

.calendar select {
    height: 25px;
    font-size: 18px;
}

.calendar button {
    height: 26px;
    font-size: 19px;
}

.foto-hotel {
    height: 450px;
    width: 1050px;
}

.pileta-container {
    background-image: url(../imagenes/AnyConv.com__pileta.webp);
    background-attachment: fixed;
    background-size: cover;
    height: 30rem;
    width: 100%;

}

.servicios {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 2rem;
}

.servicios-li {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

}

.servicios-li p {
    display: flex;
    justify-content: center;
}

.servicios-li i {
    display: flex;
    justify-content: center;
}

.pileta-filtro {
    color: white;
    background: linear-gradient(42deg, rgba(0, 0, 0, 1) 0%, rgba(79, 68, 68, 0.5802521692270659) 45%);
    height: 100%;
    display: flex;
    justify-content: space-around;

}

.circulo {
    display: inline-block;
    line-height: 46px;
    padding-top: 30px;
    text-transform: uppercase;
    width: 250px;
    height: 250px;
    background: #f4364f;
    border-radius: 50%;
    padding: 50px;
    text-align: center;
    border: 7px solid #fff;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.52);
    margin-top: 1rem;
    transition:background-color 0.5s ease;
    
}
.circulo:hover{
    background-color: orange;
}

.img-hotel {
    height: 7rem;
    padding-left: 2rem;
    padding-top: 1rem;

}

.list-nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.metodos-pago {
    padding-bottom: 4rem;
}

.redes-sociales {
    padding-bottom: 3.5rem;
}

.redes-sociales ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5rem;

}

.logo-insta {
    height: 2rem;
    margin-right: 1rem;
}

.logo-whatsapp {
    height: 2rem;
    margin-right: 1rem;
}

.logo-faceboock {
    height: 2rem;
    margin-right: 1rem;

}

.fab {
    font-size: 50px;
    border-radius: 3rem;
}


footer {
    background-color: rgb(238, 235, 235);
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 5rem 2rem 5rem;
    font-size: 20px;
    width: 100%;
    flex-wrap: wrap;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    margin-top: 2rem;
}


.info-hotel {
    width: 22rem;
}

.footer-logo {
    height: 7rem;

}

.mapa {
    height: 10rem;
    width: 15rem;
}

.hotel-hudson-video {
    height: 250px;
    width: 450px;
    margin-top: 3rem;
}

.grid {
    display: grid;
    grid-template-areas:
        "grid-video"
        "grid-img"
    ;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100% auto;
}

.grid-video {
    grid-area: grid-video;

}

.grid-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: grid-img;
}

.grid-img img {
    width: 33%;
}

.img-entrada img {
    width: 100%;
    padding-top: 4rem;
}