/*selector{
propiedad:valor;
}*/
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Courgette', cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* INDEX*/
body {
  background-color: white;
}

section {
  padding-top: 10rem;
}

nav {
  background-color: #eeebeb;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
  position: absolute;
}

nav .logo {
  height: 70px;
  margin-top: 10px;
  margin-left: 3rem;
  margin-bottom: 10px;
}

nav .nav-link {
  color: black;
  text-decoration: none;
}

.carrusel {
  position: relative;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.863);
  padding: 1rem;
  margin-left: 7rem;
  margin: top 3rem;
  top: 150px;
  z-index: 5000;
}

.reservation img {
  height: 120px;
  border-bottom: solid 1px;
  padding-bottom: 1rem;
}

.reservation p {
  margin-top: 1rem;
}

.reservation .calendar select {
  height: 25px;
  font-size: 18px;
}

.reservation .calendar button {
  border: solid 0.5px;
  border-radius: 5px;
  height: 25px;
  font-size: 17px;
  border-color: #595a5a;
  background-color: white;
  padding: 2px;
}

.pileta-container {
  background-image: url(../imagenes/AnyConv.com__pileta.webp);
  background-attachment: fixed;
  background-size: cover;
  height: 30rem;
  width: 100%;
  margin-top: 1rem;
}

.pileta-container .servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

.pileta-container .servicios-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
}

.pileta-container .servicios-li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pileta-container .servicios-li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pileta-container .pileta-filtro {
  color: white;
  background: linear-gradient(42deg, black 0%, rgba(79, 68, 68, 0.580252) 45%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pileta-container .circulo {
  display: inline-block;
  line-height: 46px;
  padding-top: 30px;
  text-transform: uppercase;
  width: 250px;
  height: 250px;
  background: #f4364f;
  border-radius: 50%;
  padding: 50px;
  text-align: center;
  border: 7px solid #fff;
  -webkit-box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.52);
          box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.52);
  margin-top: 1rem;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.pileta-container .img-hotel {
  height: 7rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.circulo:hover {
  background-color: orange;
}

footer {
  background-color: #eeebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 5rem 2rem 5rem;
  font-size: 20px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: auto;
  margin-top: 2rem;
}

footer .footer-logo {
  height: 7rem;
}

footer .metodos-pago {
  padding-bottom: 4rem;
}

footer .redes-sociales {
  padding-bottom: 3.5rem;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5rem;
}

footer .logo-insta {
  height: 2rem;
  margin-right: 1rem;
}

footer .logo-whatsapp {
  height: 2rem;
  margin-right: 1rem;
}

footer .logo-faceboock {
  height: 2rem;
  margin-right: 1rem;
}

footer .info-hotel {
  width: 22rem;
}

footer .mapa {
  height: 10rem;
  width: 15rem;
}

.img-entrada img {
  width: 100%;
  padding-top: 4rem;
}

.form-boostrap {
  width: 50%;
}
/*# sourceMappingURL=sass.css.map */